<div>
  <nav>
    <div class="button-bar">
      <button type="button" class="button-ham" (click)="toggleNavbar()"><img src="../assets/menu.svg" alt="menu" /></button>
    </div>
  </nav>
  <div class="dash-content">
    <div class="left" [ngClass]="{ 'open': navbarOpen }">
      <ul class="" >
        <li class="li">
          <a class="a" routerLink="/" routerLinkActive="active">Home</a>
          <img class="icon" routerLink="/" routerLinkActive="active" src="../assets/home.svg" alt="home"/>
        </li>
        <li class="li">
          <a class="a" routerLink="/first" routerLinkActive="active">Payments</a>
          <img class="icon" routerLink="/first" routerLinkActive="active" src="../assets/payments.svg" alt="payments"/>

        </li>
        <li class="li">
          <a class="a" routerLink="/second" routerLinkActive="active">Cart</a>
          <img class="icon" routerLink="/second" routerLinkActive="active" src="../assets/shopping_cart.svg" alt="cart"/>

        </li>
        <li class="li">
          <a class="a" routerLink="/todolist" routerLinkActive="active">Todo List</a>
          <img class="icon" routerLink="/todolist" routerLinkActive="active" src="../assets/table.svg" alt="table"/>

        </li>
      </ul>
    </div>
    <div class="right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
